body {
    height: 100%;
}

#monthName {
    text-align: center;
    text-decoration: underline;
}

#time {
    position: relative;
    text-align: center;
    padding-right
}

li {
    background-color: rgb(243, 242, 242);
    height: 100px;
    width: 150px;
    margin: .5px;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
}