*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: "Lato", "Arial", "sans-serif";
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/* Weather */

.weather{
        position: relative;
        float: right;
}

.weather-icon{
    color: #e67e22;
    display: inline-block;
    width:30px;
    text-align: center;
    font-size: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
    line-height:120%;
} 



.display-weather{
    margin-top: 10px;
    display: inline-block;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 120%;
}

.display-location{
    font-family: 'Roboto',arial,sans-serif;
    font-size: 120%;
    margin-top: 5px;
}



footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 60%;
  }

/* Declan styles for calendar */

body {
    height: 100%;
}

#monthName {
    text-align: center;
    text-decoration: underline;
}

#time {
    position: relative;
    text-align: center;
    padding-right
}

li {
    background-color: rgb(243, 242, 242);
    height: 100px;
    width: 150px;
    margin: .5px;
    text-decoration: none;
    display: inline-block;
    border-style: ridge;
}

#monthOutput {
    padding: 70px;
}

h1 {
    color: #ECECEC;
}