*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    color: #FDF4F4;
    font-family: "Lato", "Arial", "sans-serif";
    font-size:20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


/* Weather */

.weather{
        position: relative;
        float: right;
}

.weather-icon{
    color: #e67e22;
    display: inline-block;
    width:30px;
    text-align: center;
    font-size: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
    line-height:120%;
} 



.display-weather{
    margin-top: 10px;
    display: inline-block;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 120%;
}

.display-location{
    font-family: 'Roboto',arial,sans-serif;
    font-size: 120%;
    margin-top: 5px;

}


h1{
    font-size:150%;
       margin: 25px auto;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
    font-size:75%;
    color: white;
    font-weight: 300;
    margin-bottom: footer height; 
    
  }


#monthName {
    text-align: center;
    text-decoration: underline;
    display: inline-block;

}

#time {
    position: relative;
    text-align: center;
}



#monthOutput {
    padding: 70px;
    
}

h1 {
    color: #ECECEC;
    position: absolute;
}




/* todos */

.todo-container{

    position: absolute; 
    left:.31em;
    top:.5em;
    width: 3em;
    padding: 1.5em;
    border-radius: 100%;
    transition: all .2s ease-out;
    
}

#todos{
    color:black;
    display: block;
    /* background: rgba(0,0,0,.2); */
}

/* rgba(0,0,0,.5); */

#task{
  /* background:  rgba(255, 255, 255, 0.96); */
  background: rgba(0,0,0,.5);
  border: none;
  font-size: 80%;
  color: #fff;
  border-radius: 6px;
  width: 230px;
  margin-left: 20px;
  margin-top: 10px;
  padding-left: 5px;
  margin-bottom: 10px;
  
}
  
  /* box-shadow: 
  inset 0 0 8px  rgba(94, 93, 93, 0.06),
        0 0 16px rgba(100, 99, 99, 0.1); */

input[type=text]{
    color:black;
    padding-left:10px;
}

.todo-bar{
    /* margin-top:10px; */
    margin-left: 17px;;
    /* background-color: red; */
    background-color: rgba(0, 0, 0, 0.192);
    /* background-color: black; */

    /* background: linear-gradient(#E7E9BB, #403B4A); */
    width: 275px;
    position: absolute;
    top: 5em; left: 1em; 
    max-height: 100%;
    border-radius: 4px;
    

}



div.todo-list ul{
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
}

div.todo-list li{
    cursor: pointer;
    position: relative;
    padding: 2px 20px 12px 20px;
    width:275px;
    font-size: 80%;
    transition: all 0.2s ease-out;
    color:white;
    letter-spacing: .5px;
    list-style: none;
}

 .hamburger,
.cross{
    font-size: 120%;
    cursor: pointer;
    position: absolute;
    background:transparent;
    color:white;
    border:0;
    opacity: 0%;
    padding: 5px 15px 5px 15px;
    font-size: bold;
    transition: all 2s ease out;
    
}
button:focus {outline:0;}



.hamburger,
.cross :hover{
    font-size: 120%;
    cursor: pointer;
    position: absolute;
    background:transparent;
    color:white;
    border:none;
    opacity: 100%;
    

}

/* remove button */

.remove{
    position: absolute;
    right:10px;
    margin-left:10px;
    margin-right: 15px;
    width:15px;
    height:15px;
    padding-top:.2px;
    cursor: pointer;
}

.taskCompleted{
    text-decoration: line-through;
    color:black;
}



/* calendar */

#calendar {
    margin: 25px auto;
    width: 400px;
    cursor: pointer;
    border-spacing: 0;
    border:none;
}
.calendar{ 
    width:400px;
     text-transform: uppercase;
     font-family: Tahoma;
     font-size: 15px;
     background: #141517;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, .1),
     inset 0px 1px 1px rgb(0, 0, 0);
     -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, .1),
     inset 0px 1px 1px rgb(0, 0, 0);
     box-shadow: 0px 1px 1px rgba(255, 255, 255, .1),
     inset 0px 1px 1px rgb(0, 0, 0);
}

.monthPre {
    color: #565656;
    text-align: center;
}

.monthNow {
    text-align: center;
     position: relative;
     padding-right: 15px;
     color: #565656;
}

.dayNow {
    border: 2px solid black;
    color: #FF0000;
    text-align: center;
}

.calendar td {
    htmlContent: 2px;
    width: 40px;
     padding: 0 7px;
     text-align: center;
     line-height: 26px;
}
#calendar td:acive{
    background: black;
}
#calendar td:hover{
    background: rgba(255, 255, 255, 0.774);
}

.monthNow th {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
     padding-top: 15px;
     padding-bottom: 10px;
     text-align: center;
     font-weight: normal;
     color: #a8a8a8;
}

.dayNames {
    background: #0FF000;
    color: #FFFFFF;
    text-align: center;
}


/* Media Queries */
@media only screen and (max-width:1347px){
    
    #monthOutput {
        padding: 62px;
    }
}

@media only screen and (max-width:1332px){
    #monthOutput {
        padding: 50px;
    }
}

@media only screen and (max-width:1332px){
   

    div#monthOutput li{
        height:100px;
        width: 120px;
    }

    .todo-bar{
        top:3.5em;
        width:230px;

    }
    #task{
        margin-left:10px;
        width: 210px;
        font-size:70%;

    }
    h1{
        font-size:100%;
    }
     #todos{
         overflow: hidden;
     }   

    .remove{
        position: absolute;
        margin-right:50px;
        width:15px;
        height:15px;
        float: right;
    }

    div.todo-list li{font-size:70%}



    footer{
        font-size:60%;
    }
}
